.cardLi {
  list-style: none;
  border: 4px solid black;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  min-width: 220px;
  box-shadow: 10px 10px 20px 5px #ccc;
}
.btnContainer {
  margin-bottom: 10px;
}
.deleteBtn {
  border: 1px solid red;
  background-color: transparent;
  color: red;
  font-size: 15px;
  font-weight: 700;
  padding: 5px;
  border-radius: 10px;
  margin-right: 20px;
}
.changeBtn {
  border: 1px solid green;
  background-color: transparent;
  color: green;
  font-size: 15px;
  font-weight: 700;
  padding: 5px;
  border-radius: 10px;
  margin-right: 20px;
}
