.title {
  font-size: 20px;
  font-weight: 700;
}
.inputTitle {
  margin: auto 10px;
  width: 20vw;
  height: 20px;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
}
.detail {
  margin-left: 5vw;
  font-size: 20px;
  font-weight: 700;
}
.inputDetail {
  margin: 0 10px;
  width: 20vw;
  height: 20px;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
}
.inputBtn {
  margin-left: 5vw;
  padding: 10px;
  border: 1px solid black;
  background-color: transparent;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  &:hover {
    color: white;
    background-color: black;
  }
}
